
train_embedding_file_w2v.txt

train_embedding_file_w2v(norm).txt

GoogleNews-vectors-negative300.bin.gz

train_embedding_file.txt

test_embedding_file_w2v.txt

test_embedding_file.txt

test_embedding_file_w2v(norm).txt
